
.navbar{
    position: sticky;
    top: 0;
}

.nav{
    display: none;
}

.tab{
    display: flex;
}

.hidden{
    display: none;
}

@media (max-width: 382px) {
    .nav{   
        display: none;
        flex-direction: column;
        gap: 10px;
        opacity: 1;
    }

    .tab{
        display: none;
    }

    .hidden{
        
        display: flex;
        margin: 0px 15px;
    }
}